@import url('https://fonts.googleapis.com/css?family=Khand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');

.top-level-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: flex-start;
  row-gap: 10px;
  margin: 5px;
  padding: 5px;
}

.top-row-column {
  border-color: rgb(0, 0, 0);
  border-width: 2px;
  border-style: ridge;
  border-radius: 10PX;
}

.mega-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: flex-start;
  row-gap: 10px;
  margin: 5px;
  padding: 5px;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: first baseline;
  align-content: flex-start;
  column-gap: 10px;
  margin: 5px;
  padding: 5px;
}

.stats-container {
  /* min-width: 200px; */
  padding: 5px;
  max-height: 290px;
}

.name-container {
  /* min-width: 200px; */
  padding: 5px;
}

.weapons-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.attributes-container {
  /* min-width: 200px; */
  padding: 5px;
}

.split-attributes-container {
  /* min-width: 400px; */
  padding: 5px;
}

.text-input-in-small-cell {
  justify-self: center;
  align-self: center;
  height: 27px;
  max-height: 27px;
  line-height: 27px;
  max-width: 30px;
  border-width: 2px;
  border-style: solid;
  /* border-radius: 10px; */
  text-align: center;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: transparent;
}

.text-input-in-cell {
  border-width: 2px;
  border-style: solid;
  /* border-radius: 10px; */
  text-align: center;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-input-in-small-cell {
  border-width: 2px;
  border-style: solid;
  /* border-radius: 10px; */
  text-align: center;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 70px;
}

.text-input-in-stat-cell {
  border-width: 2px;
  border-style: solid;
  /* border-radius: 10px; */
  text-align: center;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 35px;
}

.text-input-in-smallest-cell {
  border-width: 2px;
  border-style: solid;
  /* border-radius: 10px; */
  text-align: center;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 70px;
  max-height: 20;
}

.text {
  vertical-align: middle;
  text-align: right;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin: 0;
}

.left-text {
  vertical-align: middle;
  text-align: left;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin: 0;
}

.align-left {
  text-align: left;
}

.text-smaller {
  vertical-align: middle;
  text-align: right;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin: 0;
  font-size: x-small;
}

.d20 {
  font-family: dicefontd20;
  font-size: larger;
}

.grid-cell-content {
  display: flex;
  justify-self: center;
  align-self: center;
  align-items: center;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.left-aligned-grid-cell-content {
  display: flex;
  justify-self: left;
  align-self: center;
  align-items: center;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.select-in-long-cell {
  justify-self: stretch;
  align-self: center;
  /* height: 27px; */
  width: 100%;
  border-color: rgb(0, 0, 0);
  border-width: 2px;
  border-style: solid;
  /* border-radius: 10PX; */
  text-align: center;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr repeat(2, .25fr);
  grid-template-rows: repeat(6, .5fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.stats-div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.stats-div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.stats-div3 {
  grid-area: 2 / 1 / 3 / 2;
}

.stats-div4 {
  grid-area: 2 / 2 / 3 / 3;
}

.stats-div5 {
  grid-area: 3 / 1 / 4 / 2;
}

.stats-div6 {
  grid-area: 3 / 2 / 4 / 3;
}

.stats-div7 {
  grid-area: 4 / 1 / 5 / 2;
}

.stats-div8 {
  grid-area: 4 / 2 / 5 / 3;
}

.stats-div9 {
  grid-area: 5 / 1 / 6 / 2;
}

.stats-div10 {
  grid-area: 5 / 2 / 6 / 3;
}

.stats-div11 {
  grid-area: 6 / 1 / 7 / 2;
}

.stats-div12 {
  grid-area: 6 / 2 / 7 / 3;
}

.stats-div13 {
  grid-area: 1 / 3 / 2 / 4;
}

.stats-div14 {
  grid-area: 2 / 3 / 3 / 4;
}

.stats-div15 {
  grid-area: 3 / 3 / 4 / 4;
}

.stats-div16 {
  grid-area: 4 / 3 / 5 / 4;
}

.stats-div17 {
  grid-area: 5 / 3 / 6 / 4;
}

.stats-div18 {
  grid-area: 6 / 3 / 7 / 4;
}

.name-grid {
  display: grid;
  grid-template-columns: .3fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.name-grid-div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.name-grid-div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.name-grid-div3 {
  grid-area: 2 / 1 / 3 / 2;
}

.name-grid-div4 {
  grid-area: 2 / 2 / 3 / 3;
}

.name-grid-div5 {
  grid-area: 3 / 1 / 4 / 2;
}

.name-grid-div6 {
  grid-area: 3 / 2 / 4 / 3;
}

.name-grid-div7 {
  grid-area: 4 / 1 / 5 / 2;
}

.name-grid-div8 {
  grid-area: 4 / 2 / 5 / 3;
}

.name-grid-div9 {
  grid-area: 5 / 1 / 6 / 2;
}

.name-grid-div10 {
  grid-area: 5 / 2 / 6 / 3;
}

.level-grid {
  display: grid;
  grid-template-columns: 1fr .5fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.level-grid-div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.level-grid-div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.level-grid-div3 {
  grid-area: 2 / 1 / 3 / 2;
}

.level-grid-div4 {
  grid-area: 2 / 2 / 3 / 3;
}

.level-grid-div5 {
  grid-area: 3 / 1 / 4 / 2;
}

.level-grid-div6 {
  grid-area: 3 / 2 / 4 / 3;
}

.level-grid-div7 {
  grid-area: 4 / 1 / 5 / 2;
}

.level-grid-div8 {
  grid-area: 4 / 2 / 5 / 3;
}

.level-grid-div9 {
  grid-area: 5 / 1 / 6 / 2;
}

.level-grid-div10 {
  grid-area: 5 / 2 / 6 / 3;
}

.attribute-bonuses-grid {
  display: grid;
  grid-template-columns: 1fr .2fr;
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.attribute-bonuses-grid-div1 {
  grid-area: 1 / 1 / 2 / 3;
}

.attribute-bonuses-grid-div2 {
  grid-area: 2 / 1 / 3 / 2;
}

.attribute-bonuses-grid-div3 {
  grid-area: 2 / 2 / 3 / 3;
}

.attribute-bonuses-grid-div4 {
  grid-area: 3 / 1 / 4 / 2;
}

.attribute-bonuses-grid-div5 {
  grid-area: 3 / 2 / 4 / 3;
}

.attribute-bonuses-grid-div6 {
  grid-area: 4 / 1 / 5 / 2;
}

.attribute-bonuses-grid-div7 {
  grid-area: 4 / 2 / 5 / 3;
}

.attribute-bonuses-grid-div8 {
  grid-area: 5 / 1 / 6 / 2;
}

.attribute-bonuses-grid-div9 {
  grid-area: 5 / 2 / 6 / 3;
}

.attribute-bonuses-grid-div10 {
  grid-area: 6 / 1 / 7 / 2;
}

.attribute-bonuses-grid-div11 {
  grid-area: 6 / 2 / 7 / 3;
}

.attribute-bonuses-grid-div12 {
  grid-area: 7 / 1 / 8 / 2;
}

.attribute-bonuses-grid-div13 {
  grid-area: 7 / 2 / 8 / 3;
}

.attribute-bonuses-grid-div14 {
  grid-area: 8 / 1 / 9 / 2;
}

.attribute-bonuses-grid-div15 {
  grid-area: 8 / 2 / 9 / 3;
}

.attribute-bonuses-grid-div16 {
  grid-area: 9 / 1 / 10 / 2;
}

.attribute-bonuses-grid-div17 {
  grid-area: 9 / 2 / 10 / 3;
}

.attribute-bonuses-grid-div18 {
  grid-area: 10 / 1 / 11 / 2;
}

.attribute-bonuses-grid-div19 {
  grid-area: 10 / 2 / 11 / 3;
}

.attribute-bonuses-grid-div20 {
  grid-area: 11 / 1 / 12 / 2;
}

.attribute-bonuses-grid-div21 {
  grid-area: 11 / 2 / 12 / 3;
}

.split-attribute-bonuses-grid {
  display: grid;
  grid-template-columns: 1fr .2fr 1fr .2fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.split-attribute-bonuses-grid-div1 {
  grid-area: 1 / 1 / 2 / 5;
}

.split-attribute-bonuses-grid-div2 {
  grid-area: 2 / 1 / 3 / 2;
}

.split-attribute-bonuses-grid-div3 {
  grid-area: 2 / 2 / 3 / 3;
}

.split-attribute-bonuses-grid-div4 {
  grid-area: 2 / 3 / 3 / 4;
}

.split-attribute-bonuses-grid-div5 {
  grid-area: 2 / 4 / 3 / 5;
}

.split-attribute-bonuses-grid-div6 {
  grid-area: 3 / 1 / 4 / 2;
}

.split-attribute-bonuses-grid-div7 {
  grid-area: 3 / 2 / 4 / 3;
}

.split-attribute-bonuses-grid-div8 {
  grid-area: 3 / 3 / 4 / 4;
}

.split-attribute-bonuses-grid-div9 {
  grid-area: 3 / 4 / 4 / 5;
}

.split-attribute-bonuses-grid-div10 {
  grid-area: 4 / 1 / 5 / 2;
}

.split-attribute-bonuses-grid-div11 {
  grid-area: 4 / 2 / 5 / 3;
}

.split-attribute-bonuses-grid-div12 {
  grid-area: 4 / 3 / 5 / 4;
}

.split-attribute-bonuses-grid-div13 {
  grid-area: 4 / 4 / 5 / 5;
}

.split-attribute-bonuses-grid-div14 {
  grid-area: 5 / 1 / 6 / 2;
}

.split-attribute-bonuses-grid-div15 {
  grid-area: 5 / 2 / 6 / 3;
}

.split-attribute-bonuses-grid-div16 {
  grid-area: 5 / 3 / 6 / 4;
}

.split-attribute-bonuses-grid-div17 {
  grid-area: 5 / 4 / 6 / 5;
}

.split-attribute-bonuses-grid-div18 {
  grid-area: 6 / 1 / 7 / 2;
}

.split-attribute-bonuses-grid-div19 {
  grid-area: 6 / 2 / 7 / 3;
}

.split-attribute-bonuses-grid-div20 {
  grid-area: 6 / 3 / 7 / 4;
}

.split-attribute-bonuses-grid-div21 {
  grid-area: 6 / 4 / 7 / 5;
}

.weapon-row-grid {
  display: grid;
  grid-template-columns: 1.75fr .5fr .25fr .2fr .5fr .5fr .2fr .5fr;
  grid-template-rows: .5fr;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  padding: 3px;
}

.weapon-row-grid-1 {
  grid-area: 1 / 1 / 2 / 2;
}

.weapon-row-grid-2 {
  grid-area: 1 / 2 / 2 / 3;
}

.weapon-row-grid-3 {
  grid-area: 1 / 3 / 2 / 4;
}

.weapon-row-grid-4 {
  grid-area: 1 / 4 / 2 / 5;
}

.weapon-row-grid-5 {
  grid-area: 1 / 5 / 2 / 6;
}

.weapon-row-grid-6 {
  grid-area: 1 / 6 / 2 / 7;
}

.weapon-row-grid-7 {
  grid-area: 1 / 7 / 2 / 8;
}

.weapon-row-grid-8 {
  grid-area: 1 / 8 / 2 / 9;
}
